<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420400641953-ts630dv52sr57j6e65mf50mcri4j57hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420400641953-ts630dv52sr57j6e65mf50mcri4j57hb</string>
	<key>API_KEY</key>
	<string>AIzaSyCeM3oOBKbDafUcXCQy6_4XZqfeEatJfy0</string>
	<key>GCM_SENDER_ID</key>
	<string>420400641953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qqltech.beccaSales</string>
	<key>PROJECT_ID</key>
	<string>becca-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>becca-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420400641953:ios:78e142728467959338bde0</string>
</dict>
</plist>